:root {
    --pf-c-button--m-primary--BackgroundColor: #7B36FE;
    --pf-v5-c-masthead--BackgroundColor: #7B36FE;
    --pf-v5-c-masthead--BackgroundColor: #7B36FE;
    --pf-c-button--m-primary--hover--BackgroundColor: #5020BB;
    --pf-v5-c-button--m-primary--BackgroundColor: #7B36FE;
    --pf-v5-c-button--m-primary--hover--BackgroundColor: #5020BB;
    --pf-v5-global--palette--black-1000: #7B36FE;
    --pf-v5-c-toolbar--BackgroundColor: #7B36FE;
    --pf-v5-c-nav__link--hover--BackgroundColor: #5020BB;
    --pf-v5-c-nav__link--active--BackgroundColor: #7B35FD;
    --pf-v5-c-nav__link--m-current--BackgroundColor: #7B35FD;
    --pf-v5-c-nav__link--BackgroundColor: #7B35FD;
}

.pf-v5-c-button.pf-m-primary {
    background-color: #3f464d;
    color: var(--pf-v5-c-button--m-primary--Color);
}